body{
    padding: 0;
    margin: 0;
    background-color: #7395AE;
}
.header{
    width: 400px;
    height:100px;
    position: relative;
}
.clear{
    position: absolute;
    right:20px;
    top: 5px;
}
.clear i{
    font-size: 30px;
    color: #B7E9F7;
}
.clear i:hover{
    text-shadow: 2px 4px 6px #557A95;
    transform: rotate(45deg);
}
#title{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #F5FCFF;
    font-size: 30px;
    font-family: "Belleza";
}

.content{
    width:400px;
    height: 448px;
    background-color: #DBF3FA;
    overflow: auto;
}
.content::-webkit-scrollbar {
    display: none;
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:400px;
    height: 58px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    color:#557A95;
}
.fa-plus-circle{
    color:#6eb200;
}
